<html>
    <head>
        <style>@Model.Css</style>
    </head>
    <body>
        <table>
            @foreach (var rule in Model.Rules)
            {
                <tr>
                    <td rowspan="2">Rule: @rule.Name @(rule.Category != null ? string.Format("({0})", rule.Category) : string.Empty)</td>
                </tr>
                if (!string.IsNullOrWhiteSpace(rule.Description))
                {
                   <tr>
                      <td colspan="2">@rule.Description</td>
                   </tr>
                }
                foreach (var example in rule.Examples)
                {
                    <tr>
                        <td>
                            <pre>@example</pre>
                        </td>
                        <td>@example</td>
                    </tr>
                }
            }
        </table>
    </body>
</html>